<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm currently <strong>on the hunt for an AI-driven position</strong> that will allow me to put my expertise in
      Data Science and
      Computational Linguistics into action. I completed my Master's in Data Science at the <strong><a
          class="underline-link" href="https://www.apple.com/music/" target="_blank">University of
          British
          Columbia</a></strong>,
      where I engaged deeply in <strong>predictive analytics</strong> and <strong>machine learning</strong>. My prior
      experiences include impactful roles
      as a
      <strong>Data Scientist at <a class="underline-link" href="https://www.symphonyai.com/" target="_blank">SymphonyAI
          Industrial</a></strong> — transforming complex data into actionable insights
      alongside a talented
      team,
      and as a <strong>DevOps/Software Engineer at <a class="https://www.infosys.com/"
          target="_blank">Infosys</a></strong> — streamlining operations and enhancing system
      functionalities on cloud platforms.
    </p>
    <p>As a Data Scientist, I am passionate about using my analytical skills to solve challenging problems and improve
      decision-making processes. My aim is to develop solutions that are not only effective but also intuitive, ensuring
      they
      add tangible value to end-users.
    </p>
    <p><strong>Outside of work</strong>, you may find me unwinding by singing and playing guitar, a hobby I share with
      <strong>16,000 subscribers</strong>
      on my
      <strong><a class="underline-link" href="https://www.youtube.com/@prakulsharma"
          target="_blank">YouTube</a></strong>
      channel. I also enjoy reading books, going for runs at <strong>Pacific Spirit Park</strong>, or enjoying
      the <strong>sunset at Wreck
        Beach</strong>.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>